.heading{
    text-align: center;
}

table{
    text-align: center;
}
img {
    border-radius: 50%;
  }
 i{
   padding-left: 10px;
 }
.jumbotron{
    background-image: url(./abstract.jpg);
    background-repeat: no-repeat;
  background-size: cover;
}
